@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --background-color: #07030d;
  --light-mode-bg: #f2ead3;
  --light-color: #3f2305;
  --dark-color-font: white;
  --dark-color: #4c00c7;
}
.for-all-section {
  width: 394vw;
  height: 100vh;
  background-color: #07030d;
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
}
.timeline {
  position: absolute;
  top: 75%;
  left: 4rem;
  width: 394vw;
  height: 1px;
  background-color: var(--dark-color);
}
.timeline::before {
  content: 'scroll';
  position: absolute;
  top: -10px;
  left: 530px;
  color: gray;
  letter-spacing: 1px;
}
.project {
  width: 98.5vw;
  height: 100%;
  text-align: center;
  position: relative;
}
.project-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.web {
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 180px;
  font-weight: 700;
  color: rgba(76, 0, 199, 0.2);
}
.section-title {
  padding-top: 10px;
  position: absolute;
  top: 77.2%;
  left: 4rem;
  text-align: left;
}
.section-title::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: var(--background-color);
}
.section-title h1 {
  font-size: 60px;
  margin-bottom: 8px;
  color: gray;
}
.section-title h4 {
  font-size: 22px;
  font-weight: 300;
  color: gray;
}
.proj1 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 5%;
  left: 10%;
}
.proj1-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj1-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj1-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj1-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj1-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj1-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj1-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj1-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj1-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj1-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj2 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 5%;
  left: 70%;
}
.proj2-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj2-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj2-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj2-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj2-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj2-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj2-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj2-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj2-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj2-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj3 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 13%;
}
.proj3-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj3-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj3-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj3-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj3-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj3-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj3-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj3-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj3-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj3-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj4 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 65%;
  left: 65%;
}
.proj4-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj4-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj4-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj4-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj4-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj4-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj4-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj4-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj4-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj4-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj5 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 30%;
  left: 45%;
}
.proj5-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj5-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj5-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj5-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj5-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj5-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj5-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj5-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj5-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj5-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj6 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 60%;
  left: 10%;
}
.proj6-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj6-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj6-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj6-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj6-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj6-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj6-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj6-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj6-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj6-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj7 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 33%;
  left: 40%;
}
.proj7-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj7-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj7-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj7-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj7-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj7-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj7-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj7-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj7-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj7-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj8 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 5%;
  left: 70%;
}
.proj8-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj8-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj8-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj8-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj8-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj8-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj8-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj8-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj8-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj8-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj9 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 5%;
  left: 10%;
}
.proj9-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj9-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj9-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj9-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj9-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj9-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj9-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj9-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj9-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj9-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj10 {
  width: 318px;
  height: 180px;
  position: absolute;
  top: 65%;
  left: 70%;
}
.proj10-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.proj10-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.proj10-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(65deg, rgba(16, 9, 27, 1), transparent 50%);
  pointer-events: none;
  transition: 0.5s;
}
.proj10-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0);
}
.proj10-wrapper:hover::before {
  transform: scale(1.1);
  transition: 0.5s;
}
.proj10-wrapper .proj-title-wrapper {
  position: absolute;
  top: 40%;
  left: -18%;
  width: 55%;
  height: auto;
  text-align: left;
  z-index: 1;
  transition: 0.5s;
}
.proj10-wrapper .proj-title-wrapper h1 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.proj10-wrapper .proj-title-wrapper .line {
  width: 100%;
  height: auto;
  border-top: 4px solid white;
}
.proj10-wrapper .proj-title-wrapper p {
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 180;
}
.proj10-wrapper img:hover ~ .proj-title-wrapper {
  transform: scale(1.2);
  transition: 0.5s;
}

.proj-details {
  width: 100%;
  height: 100%;
  background-color: rgba(7, 3, 13, 0.5);
  transition: 0.5s;
  position: relative;
  top: 40%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-details {
  pointer-events: all;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.hidden {
  z-index: -1;
}
.proj-details-wrapper {
  width: 70%;
  height: 80%;
  background-color: #10071e;
  border: 2px solid var(--dark-color);
  border-radius: 12px;
}
.close-section {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
.close-section svg {
  width: 38px;
  height: 38px;
  fill: white;
  cursor: pointer;
}
.proj-details-wrapper .detail-img {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.proj-details-wrapper .detail-img img {
  width: 60%;
  height: 95%;
}
.proj-details-container {
  margin-top: 1rem;
  display: flex;
  height: 45%;
  align-items: flex-start;
}
.proj-details-wrapper .proj-details-left {
  width: 50%;
  height: 100%;
  
  text-align: left;
  padding: 0rem 2rem;
}
.proj-details-wrapper .proj-details-left h1 {
  font-size: 48px;
  color: #924ffc;
  margin-bottom: 0.5rem;
}
.proj-details-wrapper .proj-details-left p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 180;
  margin-bottom: 2rem;
}
.link-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.link-wrapper svg {
  width: 32px;
  height: 32px;
  fill: white;
  cursor: pointer;
  transition: 0.3s;
}
.link-wrapper svg:hover {
  fill: var(--dark-color);
  transition: 0.3s;
}

.proj-details-wrapper .proj-details-right {
  width: 50%;
  height: 100%;
  padding: 0rem 2rem;
  text-align: left;
  position: relative;
}
.proj-details-wrapper .proj-details-right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #4c00c7;
}
.proj-details-wrapper .proj-details-right img {
  width: 100%;
  height: 50%;
}
.proj-details-wrapper .proj-details-right .tech-stack {
  width: 100%;
  height: auto;
  text-align: left;
}
.proj-details-wrapper .proj-details-right .tech-stack h2 {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.tech-stack-wrapper {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.html-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f06529;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
}
.html {
  width: 26px;
  height: 32px;
  fill: #f06529;
  transition: 0.3s;
}
.html-wrapper::before {
  content: "html5";
  position: absolute;
  top: -12px;
  left: -32px;
  background-color: black;
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}
.html-wrapper:hover::before {
  opacity: 1;
  transition: 0.3s;
}

.css-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #264de4;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
}
.css {
  width: 26px;
  height: 26px;
  fill: #264de4;
  transition: 0.3s;
}
.css-wrapper::before {
  content: "css3";
  position: absolute;
  top: -12px;
  left: -32px;
  background-color: black;
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}
.css-wrapper:hover::before {
  opacity: 1;
  transition: 0.3s;
}

.js-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0db4f;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
}
.js {
  width: 26px;
  height: 26px;
  fill: #f0db4f;
  transition: 0.3s;
}
.js-wrapper::before {
  content: "Javascript";
  position: absolute;
  top: -12px;
  left: -54px;
  background-color: black;
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}
.js-wrapper:hover::before {
  opacity: 1;
  transition: 0.3s;
}

.react-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #61dafb;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
}
.react {
  width: 26px;
  height: 26px;
  fill: #61dafb;
  transition: 0.3s;
}
.react-wrapper::before {
  content: "ReactJS";
  position: absolute;
  top: -12px;
  left: -54px;
  background-color: black;
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}
.react-wrapper:hover::before {
  opacity: 1;
  transition: 0.3s;
}
.back-to-top {
  position: absolute;
  bottom: 24px;
  right: 60px;
  color: white;
  width: 118px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.back-to-top h6 {
  font-size: 18px;
  letter-spacing: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.back-to-top h6:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.about-me {
  width: 98.5vw;
  height: 100%;
  position: relative;
}

.personal-information {
  width: 100%;
  height: 680px;
  position: relative;
}
.front-end {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.front-end h2 {
  font-size: 28px;
  font-weight: 700;
  border: 3px solid var(--dark-color);
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  color: rgb(235, 135, 135);
}
.horizontal-line-1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.horizontal-line-1 span {
  width: 180px;
  height: 32px;
  position: relative;
}
.horizontal-line-1 span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: white;
}
.two-blocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
}
.block-1 {
  width: 38%;
  height: 450px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.block-2 {
  width: 38%;
  height: 396px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}
.block-3 {
  width: 2px;
  height: 410px;
  background-color: white;
}
.important-layer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: first baseline;
  justify-content: center;
}
.important-layer-wrapper {
  width: 95%;
  height: auto;
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
}
.important-layer-wrapper .container {
  width: 250px;
  font-weight: 500;
  margin: 32px 0px;
  height: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.personal-information-wrapper {
  width: 250px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: skyblue;
  margin-bottom: 24px;
}
.personal-name {
  width: 230px;
  padding: 0.5rem 1rem;
  border: 3px solid var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
}
.separated-line {
  width: 180px;
  height: 24px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.gender-age {
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.gender-age span {
  padding: 0.5rem 1rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  color: rgb(235, 230, 135);
  z-index: 1;
  background-color: var(--background-color);
  font-weight: 300;
}
.education {
  font-size: 20px;
  width: 230px;
  padding: 0.5rem 1rem;
  border: 3px solid var(--dark-color);
  color: rgb(143, 235, 135);
  z-index: 1;
  background-color: var(--background-color);
  margin-bottom: 24px;
}
.education1 {
  font-size: 14px;
  width: 220px;
  height: auto;
  padding: 0.5rem 0.5rem;
  border: 3px solid var(--dark-color);
  color: rgb(235, 230, 135);
  z-index: 1;
  background-color: var(--background-color);
  margin-bottom: 24px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
}

.education2 {
  font-size: 14px;
  width: 220px;
  padding: 0.5rem 0.5rem;
  border: 3px solid var(--dark-color);
  color: rgb(235, 230, 135);
  z-index: 1;
  background-color: var(--background-color);
  margin-bottom: 24px;
  text-align: center;
  letter-spacing: 1px;  
  font-weight: 300;
}
.personal-experience {
  width: 250px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: skyblue;
  margin-bottom: 24px;
}
.personal-experience-1 {
  width: 240px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}
.personal-experience-2 {
  width: 220px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}
.personal-experience-3 {
  width: 200px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}
.personal-experience-4 {
  width: 180px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}
.technologies-stack {
  width: 250px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: skyblue;
  margin-bottom: 24px;
}
.html5 {
  width: 240px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}
.css3 {
  width: 230px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}
.v-js {
  width: 220px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--dark-color);
  z-index: 1;
  background-color: var(--background-color);
  color: rgb(143, 235, 135);
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}


.contact {
  width: 98.5vw;
  height: 100%;
  position: relative;
}
.contact-wrapper {
  width: 100%;
  height: 75%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-left {
  min-width: 40%;
  height: auto;
}
.contact-left h1 {
  font-size: 40px;
  color: var(--dark-color);
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.contact-details {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.contact-details span {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: #07030d;
  box-shadow: 2px 2px 4px rgb(43, 25, 71) inset;
  padding: .8rem;
  border-radius: 8px;
  cursor: pointer;
}
.contact-details span svg {
  fill: var(--dark-color);
  width: 28px;
  height: 28px;
}
.contact-details span h4 {
  font-weight: 400;
  letter-spacing: 1px;
}
.resume {
  transform: rotate(135deg);
}
.contact-center {
  color: gray;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 1px;
  text-align: center;
  width: 20%;
}
.contact-center div {
  width: 32px;
  height: 1px;
  background-color: gray;
}

.contact-right {
  min-width: 40%;
  height: auto;
  text-align: center;
  padding: 1rem;
  z-index: 1;
}
.contact-right h2 {
  font-size: 40px;
  color: white;
  font-weight: 700;
  margin-bottom: 2rem;
}
.email-input {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 12px;
}
.message-input {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 12px;
}
.email-input label, .message-input label {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
} 
.email-input input{
  width: 100%;
  background-color: #07030d;
  box-shadow: 2px 1px 4px rgb(43, 25, 71) inset;
  padding: 1rem .8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}
.email-input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}
.message-input textarea {
  width: 100%;
  background-color: #07030d;
  box-shadow: 2px 1px 4px rgb(43, 25, 71) inset;
  padding: 1rem .8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  height: 150px;
  resize: none;
}
.send {
  width: 100%;
  padding: .5rem 0rem;
  background-color: white;
  border-radius: 8px;
  color: #07030d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.send span {
  font-size: 28px;
  font-weight: 600;
}
.send svg {
  fill: #07030d;
  width: 26px;
  height: 26px;
  transition: 0.3s;
}
.send:hover {
  background-color: var(--dark-color);
  color: white;
  transition: 0.3s;
}
.send:hover > svg {
  fill: white;
  transition: 0.3s;
}

.sent-notif {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  pointer-events: none;
}
.sent-notif-wrapper {
  width: 200px;
  height: auto;
  background-color: #10071e;
  border: 2px solid var(--dark-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5em;
  animation-name: oplow;
  animation-timing-function: ease;
  animation-duration: 1000ms;
  position: relative;
  top: -150px;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
}
.active {
  transition: 0.3s;
  visibility: visible;
  top: 0;
  pointer-events: none;
}
/* @keyframes oplow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */
.sent-notif-wrapper svg {
  fill: rgb(152, 235, 135);
}
























.project-two {
  width: 98.5vw;
  height: 100%;
  position: relative;
}
footer {
  position: absolute;
  bottom: 2%;
  left: 15%;
  color: gray;
}
button {
  border: none;
  outline: none;
}

@media screen and (max-width: 1100px) {
  .proj1, .proj2, .proj3, .proj4, .proj5, .proj6, .proj7, .proj8, .proj9, .proj10 {
    width: 260px;
    height: 160px;
  }
  .proj1-wrapper .proj-title-wrapper {
    top: 30%;
  }
  .web {
    font-size: 120px;
  }
  .proj2 {
    left: 70%;
  }
  .proj5 {
    top: 35%;
    left: 50%;
  }
  .proj-details-wrapper {
    height: 60%;
    width: 80%;
  }
  .contact-center {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .proj8 {
    left: 60%;
  }
  .proj10 {
    left: 60%;
  }
  .front-end h2  {
    font-size: 24px;
  }
  .important-layer-wrapper .container {
    width: 220px;
    font-size: 19px;
  }
  .personal-information-wrapper {
    width: 200px;
    font-size: 19px;
  }
  .personal-name {
    width: 180px;
    font-size: 16px;
  }
  .gender-age {
    width: 100%;
  }
  .gender-age span {
    font-size: 14px;
  }
  .education {
    width: 190px;
    font-size: 16px;
  }
  .education1 {
    width: 160px;
    font-size: 12px;
  }
  .education2 {
    width: 160px;
    font-size: 12px;
  }
  .personal-experience {
    width: 220px;
    font-size: 19px;
  }
  .personal-experience-1 {
    width: 90%;
    font-size: 16px;
  }
  .personal-experience-2 {
    width: 90%;
    font-size: 16px;
  }
  .personal-experience-3 {
    width: 90%;
    font-size: 16px;
  }
  .personal-experience-4 {
    width: 90%;
    font-size: 16px;
  }
  .technologies-stack {
    width: 100%;
    font-size: 19px;
  }
  .html5 {
    width: 90%;
    font-size: 16px;
  }
  .css3 {
    width: 90%;
    font-size: 16px;
  }
  .v-js {
    width: 90%;
    font-size: 16px;
  }.block-2 {
    height: 34.8%;
  }
  /* .contact-wrapper {
    align-items: flex-start;
    flex-direction: column;
  } */
  .contact-center {
    display: none;
  }
  .proj-details-wrapper {
    height: 80%;
    width: 85%;
  }
  .proj-details-wrapper .proj-details-left p {
    font-size: 12px;
  }
  .timeline::before {
    left: 230px;
  }
}

@media screen and (max-width: 800px) {
  .active {
    top: 300px;
  }
  .for-all-section {
    display: block;
    width: 100%;
    height: auto;
  }
  .web {
    top: 5%;
  }
  .back-to-top {
    display: none;
  }
  .timeline {
    top: 2rem;
    width: 1px;
    height: 100%;
  }
  .timeline::before {
    top: 4%;
    left: -1.2rem;
    transform: rotate(90deg);
  }
  .project {
    width: 100%;
    height: 100vh;
  }
  .section-title {
    top: 2.5rem;
    left: 3.5rem;
    padding-left: 1rem;
  }
  .section-title h1 {
    font-size: 40px;
  }
  .section-title h4 {
    font-size: 19px;
  }
  .proj1 {
    top: 35%;
  }
  .proj2 {
    top: 65%;
    left: 10%;
  }
  .proj3 {
    top: 50%;
    left: 60%;
  }
  .proj4 {
    left: 60%;
    top: 75%;
  }
  .proj5 {
    top: 20%;
  }

  .about-me {
    width: 100%;
    height: 2000px;
  }
  .personal-information {
    padding-left: 2rem;
    height: auto;
    transform: translateY(250px);
  }
  .two-blocks {
    margin-top: 3.8rem;
    height: 100%;
  }
  .block-1 {
    display: none;
  }
  .block-2 {
    display: none;
  }
  .block-3 {
    height: 89.9%;
  }
  .horizontal-line-1 {
    display: none;
  }
  .horizontal-line-1 span {
    width: 180px;
    height: 38px;
  }
  .horizontal-line-1 span::before {
    left: 49.5%;
    width: 2px;
  }
  .important-layer-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .front-end h2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
  .important-layer-wrapper .container {
    width: 100%;
  }
  .personal-information-wrapper {
    width: 70%;
    font-size: 28px;
  }
  .personal-name {
    width: 60%;
    font-size: 24px;
  }
  .separated-line {
    width: 40%;
  }
  .gender-age {
    width: 50%;
  }
  .gender-age span {
    font-size: 18px;
  }
  .education {
    width: 60%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .education1 {
    width: 50%;
    font-size: 20px;
  }
  .education2 {
    width: 50%;
    font-size: 20px;
  }
  .personal-experience {
    width: 70%;
    font-size: 28px;
  }
  .personal-experience-1 {
    width: 60%;
    font-size: 24px;
  }
  .personal-experience-2 {
    width: 60%;
    font-size: 24px;
  }
  .personal-experience-3 {
    width: 60%;
    font-size: 24px;
  }
  .personal-experience-4 {
    width: 60%;
    font-size: 24px;
  }
  .technologies-stack {
    width: 70%;
    font-size: 28px;
  }
  .html5 {
    width: 60%;
    font-size: 24px;
  }
  .css3 {
    width: 60%;
    font-size: 24px;
  }
  .v-js {
    width: 60%;
    font-size: 24px;
  }


  .contact {
    width: 100%;
    height: 115vh;
  }
  .contact-wrapper {
    padding-left: 5rem;
    height: auto;
    transform: translateY(150px);
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-left {
    width: 100%;
  }
  .contact-right {
    padding: 0;
    width: 100%;
  }
  /* .input-wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
  } */
  .email-input {
    margin-bottom: 1rem;
  }
  .message-input {
    margin-bottom: 1rem;
  }
  .email-input input {
    padding: 0.5rem;
  }
  .message-input textarea {
    height: auto;
    padding: .5rem;
}


  .project-two {
    width: 100%;
    height: 100vh;
  }
  .proj6 {
    top: 5%;
  }
  .proj7 {
    top: 35%;
    left: 10%;
  }
  .proj8 {
    top: 50%;
    left: 60%;
  }
  .proj9 {
    left: 10%;
    top: 70%;
  }
  .proj10 {
    top: 20%;
  }
  .proj-details-wrapper {
    height: 70%;
    width: 90%;
  }
  .proj-details-container {
    height: 40%;
  }
  .proj-details-wrapper .detail-img {
    height: 200px;
  }
  .proj-details-wrapper .detail-img img {
    width: 55%;
    height: 95%;
}
}



@media screen and (max-width: 700px) {
  .timeline {
    top: 2rem;
  }
  .section-title {
    top: 2.7rem;
  }
  .project {
    height: auto;
  }
  .web {
    font-size: 100px;
  }
  .project-wrapper2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    position: relative;
    padding: 10rem 5rem 4rem 5rem;
  }
  .for-flex {
    width: 45%;
    height: 110px;
  }
  .proj1-wrapper .proj-title-wrapper h1 {
    font-size: 20px;
    margin-bottom: .5rem;
  }
  .proj1-wrapper .proj-title-wrapper p {
    padding-top: .5rem;
    letter-spacing: 1px;
    font-weight: 180;
  }
  .proj-details {
    position: absolute;
    top: 0;
    left: 0;
  }
  .proj-details-wrapper {
    height: 95%;
    width: 90%;
  }
  .proj-details-wrapper .proj-details-left h1 {
    font-size: 40px;
  }
  .proj-details-container {
    flex-direction: column;
  }
  .proj-details-wrapper .proj-details-left {
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0rem 1rem;
  }
  .proj-details-wrapper .proj-details-right {
    width: 100%;
    height: auto;
  }
  .tech-stack-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  .contact-details {
    margin-bottom: .5rem;
    gap: 1rem;
  }
  .contact-details span {
    font-size: 13px;
  }
  .contact-left h1 {
    font-size: 32px;
  }
  .contact-right h2 {
    margin-bottom: .5rem;
  }
  .email-input {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 8px;
  }
  .message-input {
    width: 100%;
    margin-bottom: 1rem;
    gap: 8px;
  }
  .send span {
    font-size: 24px;
  }
  .send svg {
    width: 24px;
    height: 24px;
  }

}
@media screen and (max-width: 512px) {
  .web {
    font-size: 70px;
  }
  .for-flex {
    width: 90%;
  }
  .two-blocks {
    margin-top: 2.9rem;
  }
  .proj-details-wrapper {
    width: 95%;
    height: 95%;
  }
  .close-section {
    height: 8%;
  }
  .close-section svg {
    width: 32px;
    height: 32px;
  }
  .proj-details-wrapper .detail-img {
    width: 100%;
    height: 180px;
  }
  .proj-details-wrapper .detail-img img {
    width: 70%;
  }
  .proj-details-wrapper .proj-details-right {
    width: 100%;
    padding: 0rem 1rem;
    margin-top: 2rem;
  }
  .front-end h2 {
    font-size: 20px;
    width: 80%;
  }
  .personal-information-wrapper {
    width: 70%;
    font-size: 20px;
  }
  .personal-name {
    width: 60%;
    font-size: 18px;
  }
  .separated-line {
    width: 50%;
  }
  .gender-age {
    width: 70%;
  }
  .gender-age span {
    font-size: 14px;
  }
  .education {
    width: 60%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .education1 {
    width: 50%;
    font-size: 14px;
  }
  .education2 {
    width: 50%;
    font-size: 14px;
  }
  .personal-experience {
    width: 70%;
    font-size: 20px;
  }
  .personal-experience-1 {
    width: 60%;
    font-size: 18px;
  }
  .personal-experience-2 {
    width: 60%;
    font-size: 18px;
  }
  .personal-experience-3 {
    width: 60%;
    font-size: 18px;
  }
  .personal-experience-4 {
    width: 60%;
    font-size: 18px;
  }
  .technologies-stack {
    width: 70%;
    font-size: 20px;
  }
  .html5 {
    width: 60%;
    font-size: 18px;
  }
  .css3 {
    width: 60%;
    font-size: 18px;
  }
  .v-js {
    width: 60%;
    font-size: 18px;
  }
  .contact {
    height: 130vh;
  }
  .contact-wrapper {
    transform: translateY(150px);
  }
  .contact-details {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .contact-left {
    width: 100%;
  }
  .contact-left h1 {
    width: 100%;
    font-size: 32px;
  }
  .contact-details span h4 {
    font-size: 14px;
}
  .contact-right {
    padding-left: 1rem;
  }
  .contact-right h2 {
    font-size: 32px;
  }
  .send span {
    font-size: 24px;
    font-weight: 600;
  }
  .send svg {
    width: 24px;
    height: 24px;
  }

}

@media screen and (max-width: 400px) {
  .project-wrapper2 {
    padding: 8rem 5rem 4rem 5rem;
  }
  .section-title {
    top: 2rem;
  }
  .timeline {
    top: 1rem;
  }
  .proj-details-wrapper .proj-details-left h1 {
    font-size: 32px;
  }
  .web {
    font-size: 40px;
  }
  .for-flex {
    width: 70%;
    height: 90px;
  }
  .project-wrapper2 {
    padding-left: 4rem;
    padding-right: 2rem;
  }
  .proj1-wrapper .proj-title-wrapper h1 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  .proj1-wrapper .proj-title-wrapper .line {
    width: 100%;
    height: auto;
    border-top: 3px solid white;
  }
  .proj-details-wrapper .proj-details-left p {
    margin-bottom: 0rem;
  }
  .proj-details-wrapper .proj-details-right {
    width: 100%;
    padding: 0rem 1rem;
    margin-top: 0rem;
  }
  .section-title {
    left: 1.5rem;
  }
  .section-title h1 {
    font-size: 32px;
  }
  .section-title h4 {
    font-size: 17px;
  }
  .timeline {
    left: 2rem;
  }
  .personal-information {
    transform: translateY(200px);
  }
  .front-end h2 {
    font-size: 15px;
    width: 90%;
  }
  .personal-information-wrapper {
    width: 70%;
    font-size: 14px;
  }
  .personal-name {
    width: 70%;
    font-size: 13px;
  }
  .separated-line {
    width: 50%;
  }
  .gender-age {
    width: 70%;
  }
  .gender-age span {
    font-size: 11px;
  }
  .education {
    width: 80%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .education1 {
    width: 70%;
    font-size: 11px;
  }
  .education2 {
    width: 70%;
    font-size: 11px;
  }
  .personal-experience {
    width: 70%;
    font-size: 15px;
  }
  .personal-experience-1 {
    width: 60%;
    font-size: 13px;
  }
  .personal-experience-2 {
    width: 60%;
    font-size: 13px;
  }
  .personal-experience-3 {
    width: 60%;
    font-size: 13px;
  }
  .personal-experience-4 {
    width: 60%;
    font-size: 13px;
  }
  .technologies-stack {
    width: 80%;
    font-size: 15px;
  }
  .html5 {
    width: 60%;
    font-size: 13px;
  }
  .css3 {
    width: 60%;
    font-size: 13px;
  }
  .v-js {
    width: 60%;
    font-size: 13px;
  }
  .about-me {
    height: 1800px;
  }
  .contact {
    height: 150vh;
}
  .contact-wrapper {
    margin-left: 0rem;
    padding-left: 3rem;
  }
  .contact-right {
    width: 90%;
  }
  .contact-left {
    width: 90%;
  }
  .proj-details-wrapper {
    width: 95%;
    height: 95%;
}
  .proj-details-wrapper .detail-img {
    width: 100%;
    height: 100px;
  }
  .proj-details-wrapper .proj-details-left p {
    font-size: 9px;
    line-height: 20px;
    
  }
  .link-wrapper svg {
    width: 28px;
    height: 28px;
    fill: white;
    cursor: pointer;
    transition: 0.3s;
  }
  .proj-details-wrapper .proj-details-right .tech-stack h2 {
    margin-top: 3rem;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  .contact-right {
    padding: 0;
  }
  .html {
    width: 22px;
    height: 22px;
  }
  .html-wrapper {
    width: 40px;
    height: 40px;
  }
  .css {
    width: 22px;
    height: 22px;
  }
  .css-wrapper {
    width: 40px;
    height: 40px;
  }
  .js {
    width: 22px;
    height: 22px;
  }
  .js-wrapper {
    width: 40px;
    height: 40px;
  }
  .react {
    width: 22px;
    height: 22px;
  }
  .react-wrapper {
    width: 40px;
    height: 40px;
  }
  .two-blocks {
    margin-top: 2.5rem;
  }
  .block-3 {
    height: 89.3%;
  }
}





@media screen and (max-height: 655px) {
  .front-end {
    margin-top: .5rem
    ;
  }
  .front-end h2 {
    font-size: 24px;
  }
  .horizontal-line-1 span {
    height: 20px;
  }
  .two-blocks {
    margin-top: 4.4rem;
  }
  .personal-information-container {
    font-size: 20px;
  }
  .personal-information-wrapper {
    margin-bottom: 10px;
  }
  .personal-experience {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .personal-information {
    height: 500px;
  }
  .important-layer {
    height: 100%;
  }
  .two-blocks {
    height: 100%;
  }
  .block-1 {
    height: 70%;
  }
  .block-2 {
    height: 57.5%;
  }
  .block-3 {
    height: 65%;
  }
  .technologies-stack {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .personal-name {
    width: 230px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .personal-experience-1 {
    width: 230px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .html5 {
    width: 230px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .separated-line {
    height: 16px;
  }
  .gender-age {
    margin-bottom: 10px;
  }
  .gender-age span {
    font-size: 14px;
  }
  .personal-experience-2 {
    width: 210px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .css3 {
    width: 210px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .education {
    width: 210px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .personal-experience-3 {
    width: 190px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .personal-experience-4 {
    width: 170px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .v-js {
    width: 190px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .education1 {
    width: 190px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .education2 {
    width: 190px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .important-layer-wrapper {
    max-height: 400px;
  }
    .education1 {
    width: 190px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .important-layer-wrapper .container {
    margin: 10px 0px;
  }
  .proj-details-wrapper {
    width: 80%;
    height: 88%;
  }
  .proj-details-wrapper .detail-img img {
    width: 50%;
    height: 100%;
}
}
/* @media screen and (max-height: 700px) {
  .proj5 {
    top: 35%;
    left: 50%;
  }
  .proj2 {
    left: 65%;
  }
  .front-end h2 {
    font-size: 20px;
  }
  .two-blocks {
    margin-top: 3.6rem;
  }
  .important-layer-wrapper .container {
    margin: 4px 0px 0px 0px;
  }
  .proj-details-wrapper .detail-img {
    width: 100%;
    height: 180px;
  }
  .proj-details-wrapper .detail-img img {
    width: 45%;
    height: 100%;
  }
  .proj-details-wrapper .proj-details-left h1 {
    font-size: 36px;
    color: #924ffc;
    margin-bottom: 0.5rem;
  }
  .proj-details-wrapper .proj-details-left p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .link-wrapper svg {
    width: 26px;
    height: 26px;
  }
  .proj-details-wrapper .proj-details-right {
    width: 50%;
    height: 80%;
  }
} */


























@media screen and (max-width: 650px) {
  .about h1 {
    font-size: 150px;
    z-index: 1;
  }
  .about h2 {
    font-size: 118px;
    z-index: 1;
  }
  .about span img {
    width: 800px;
    height: 130vh;
    object-fit: cover;
  }
}

@media screen and (max-width: 500px) {
  .about span img {
    transform: rotate(0deg);
  }
  .about h1 {
    font-size: 100px;
    z-index: 1;
  }
  .about h2 {
    font-size: 80px;
    z-index: 1;
  }
  .about .span {
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 300px) {
  .about h1 {
    font-size: 80px;
    z-index: 1;
  }
  .about .span {
    position: absolute;
    top: 80%;
    left: -10%;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .about .span .svg1 {
    position: relative;
    left: 80px;
  }
  .about .span svg {
    width: 140px;
    height: 140px;
  }
  .about h2 {
    font-size: 60px;
    z-index: 1;
  }
}
